<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", landing_help_path %></li>
        <li><%= link_to "My Account", user_path(current_user) %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Log Out", logout_path %></li>
      <% else %>
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Help",    landing_help_path %></li>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>